body,
html,
#root,
.App {
  height: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

/* App bar*/
.app-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  height: 50px;
  z-index: 1;
  text-align: center;
  line-height: 50px;
  color: white;
}

/* App body */
.app-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
  gap: 1rem;
}

.create-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}



.create-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.create-btn {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  cursor: pointer;
}